h1::after{
    content:"web";
    animation:typing 5s ease infinite ;
}
@keyframes typing{
    0%{content:"web|";}
    5%{content:"web d|";}
    8%{content:"web de|";}
    12%{content:"web deve|";}
    15%{content:"web develop|";}
    18%{content:"web developer";}
    22%{content:"web develope|";}
    25%{content:"web develo|";}
    30%{content:"web deve|";}
    35%{content:"web de|";}
    40%{content:"web";}
    45%{content:"web de|";}
    50%{content:"web de|";}
    55%{content:"web desi|";}
    60%{content:"web desig|";}
    65%{content:"web designer";}
}
img{
  width:300px;
  height:300px;
  animation:rotate 5s ease infinite;
}
@keyframes rotate{
    0%{transform:rotate(0deg);}
    30%{transform:rotate(90deg);}
    60%{transform:rotate(270deg);}
    100%{transform:rotate(360deg);}
}
div{
    position: relative;
    background-color:brown;
    width:300px;
    height:300px;
    animation:coloring 3s ease infinite;
}
@keyframes coloring{
    0%{background-color:rgb(190, 175, 175);}
    30%{background-color:rgb(222, 168, 168);}
    50%{background-color:rgb(230, 119, 119);}
    70%{background-color:rgb(245, 96, 96);}
    80%{background-color:rgb(145, 123, 236);}
    90%{background-color:rgb(47, 37, 226);}
    100%{background-color:rgb(227, 24, 24);}
}