.facebook i{
    background-color:white;
    color:blue;
    font-size:100px;
}
.facebook p{
    font-family:"Dancing Script", cursive;/*offline way*/
    font-size:30px;
}
.twitter i{
    background-color:white;
    color:blue;
    font-size:100px;
}
.twitter p{
    font-family: "Changa One", sans-serif;
    font-size:30px;
}
.parent{
    display: flex;
    justify-content:space-evenly;
}
.div_flex{
    height:300px;
    width:25%;
}
.div_1{
    background-color: aquamarine;
}
.div_2{
    background-color: rgb(216, 36, 8);
}
.div_3{
    background-color: rgb(15, 198, 33);
}
.div_4{
    background-color: rgb(190, 229, 13);
}
