*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
.images .container .cards{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
.images .container .cards .card{
    width:33%;
}
.images .container .cards .card img{
    width:100%;
}
@media only screen and (max-width:600px)
{
    body{
        background-color: rgb(195, 226, 43);
    }
    .images .container .cards .card{
        width:100%;
    }
}
@media only screen and (min-width:601px) and (max-width:800px)
{
    body{
        background-color: rgb(43, 104, 226);
    }
    .images .container .cards .card{
        width:49%;
    }
}
@media only screen and (min-width:801px) and (max-width:1200px)
{
    body{
        background-color: rgb(226, 43, 150);
    }
    .images .container .cards .card{
        width:33%;
    }
}